export(anesrake)
export(anesrakefinder)
export(rakelist)
export(discrep)
export(generaldesigneffect)
export(rakeonvar)
export(selecthighestpcts)
export(selectnhighest)
export(weightassess)

importFrom(Hmisc, wtd.table)
importFrom(weights, wpct)

S3method(discrep, default)
S3method(discrep, factor)
S3method(discrep, logical)
S3method(discrep, numeric)
S3method(rakeonvar, default)
S3method(rakeonvar, factor)
S3method(rakeonvar, logical)
S3method(rakeonvar, numeric)
S3method(summary, anesrake)
S3method(summary, anesrakelist)
S3method(print, anesrake)
S3method(print, anesrakelist)